body{
    background-color: rgb(224, 219, 251);
}

.contentBox{
    background-color:ghostwhite;
    border-radius: 20px;
}

button{
    border: none;
    background-color: transparent;
}

li{
    list-style-type: none;
}

.trashCan:hover{
    color: red;
}

.itemContainer{
    border-bottom: solid;
    border-color: rgb(186, 196, 205);
    border-width: 1px;
}

.listContainer{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 20px;

}

.deleteButton {
    visibility: hidden;
}

.itemContainer:hover .deleteButton {
    visibility: visible;
}