button{
    border: none;
    background-color: transparent;
}

li{
    list-style-type: none;
}

.trashCan:hover{
    color: red;
}

.itemContainer{
    border-style: dashed;
    border-color: rgb(186, 196, 205);
    border-width: 1px;
}

.listContainer{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
}